<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>게시판</title>
</head>

<body>
    <p style="text-align: left;"><button>로그인</button>&nbsp;</p>
    <hr />
    <table style="height: 52px; width: 942px;" border="1">
        <tbody>
            <tr>
                <th>아이디</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
            </tr>
        </tbody>
        <tbody>
            <% prodList.forEach(function(item, index){ %>
            <tr>
                <th style="width: 76px;"><%= item.postIdx %></th>
                <th style="width: 542px;"><a href = ""><%= item.post %></a></th>
                <th style="width: 130px;"><%= item.id %></th>
                <th style="width: 166px;"><%= item.created_at %></th>
            </tr>
            <% }); %>
        </tbody>
    </table>
    <p style="text-align: left;"><button>글쓰기</button></p>
    <table style="width: 942px;">
        <tbody>
            <tr>
                <td style="width: 942px; text-align: center;">1</td>
            </tr>
        </tbody>
    </table>
    <!-- <tbody>
            <script src="/sequelize.js"></script>
        </tbody> -->
</body>

</html>